.project {
  margin-bottom: 2em;
  border-top: 1px solid #ddd;
  padding-top: 1em;
}



.media-container {
  display: flex;
  gap: 10px; /* space between images */
  justify-content: flex-start; /* or center, if you want them centered */
}
.project-image {
  height: auto;
  border: 1px solid #ddd; /* optional border */
  border-radius: 6px;     /* slightly rounded corners */
}
.intro-text {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 850px;
  margin-bottom: 2rem;
  color: #333;
}
